* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#level-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#level-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#level-2 .peas {
    grid-column: 1 / -1;
}
#level-3 {
    display: grid;
    grid-template-columns: repeat(  3, 1fr );

} 
#level-3 .onions {
  grid-column: 2 / span 2;
}

#level-3 .tomatoes {
  grid-column: 1 / span 2;
}

#level-3 .carrots {
  grid-column: 1 / -1;
}

#level-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#level-4 .peas {
  grid-column: 1 / span 2;
}

#level-4 .onions {
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
}

#level-4 .carrots {
  grid-column: 4 / span 1;
  grid-row: 1 / span 2;
}

#level-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#level-5 .carrots {
  grid-area: 1 / 1 / span 3 / span 1;
}

#level-5 .onions {
  grid-area: 1 / 3 / span 2 / span 1;
}

#level-5 .tomatoes {
  grid-area: 3 / 2 / span 1 / span 3;
}

#level-5 .peas {
  grid-area: 2 / 4 / span 1 / span 2;
}

#level-5 .lettuce {
  grid-area: 1 / -2 / span 1 / span 1;
}

#level-6 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#level-6 .carrots {
  grid-area: 1 / 1 / span 1 / -1;
}

#level-6 .onions {
  grid-area: 2 / 1 / span 2 / span 1;
}

#level-6 .peas {
  grid-area: 2 / 2 / span 2 / span 3;
}

#level-6 .tomatoes {
  grid-area: 2 / 5 / span 2 / span 1;
}

#level-6 .lettuce {
  grid-area: 4 / 1 / span 1 / -1;
}

#level-7 {
  display: grid;
  grid-template-columns: repeat(5, minmax(5ch, 1fr));
}

#level-8 {
  display: grid;
  grid-template-columns: repeat(auto-fit, 15ch);
  grid-auto-rows: 5ch;
}

#level-9 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  grid-auto-rows: 5rem;
}